* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #120924;

}

.logo {
    font-size: 32px;

}

.Text-white {
    color: white;
}

.gradient {
    background: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar {
    display: flex;
    padding: 20px 10%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 32px;
}

nav a {
    color: white;

}

.button {
    padding: 10px 16px;
    border-radius: 999px;
    border: none;
    background: linear-gradient(rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    color: white;
    cursor: pointer;
}

.menu-checkbox,
.hamburger {
    display: none;
    color: white;
    font-size: 20px;
    cursor: pointer;

}

/* hero_section css */
/* 
#hero-bg{ 
    background-image: url(../Images/hero-bg.png);
    background-size: cover;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.hero-container{
    position: relative;
}
.hero-circle{
    position: relative;
    left: 50px;
}
.microphone{
    position: relative;
    left: 120px;
    bottom: 260px;
    
} */

#about-section {
    background-color: #120924;
    text-align: center;
    padding: 80px 20px;
}

.about {

    padding: 20px 10%;

    align-items: center;

}

.about-header {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 25px;
}

.about-description {
    color: #c7c5c5d7;
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 35px;
}

.about-text {
    color: #c7c5c5d7;
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 35px;
}

.divider {
    border: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    max-width: 1000px;
    margin-bottom: 50px;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    gap: 30px;
    max-width: 1000px;
}

.item h3 {
    color: #00FF88;
    font-size: 1.8rem;
    margin-bottom: 16px;
}

.item p {
    color: #ffffff;
    font-size: 0.8rem;
}

@media screen and (max-width: 576px) {

    /* navigation bar css for mobile started*/
    .navbar {
        width: 100%;
    }

    .button {
        display: none;
    }

    .logo {
        order: 1;
    }

    .hamburger {
        display: block;
        order: 2;

    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        order: 3;
        display: none;
        position: absolute;
        top: 60px;
        background-color: rgba(65, 37, 103, 0.95);
        padding: 20px;
        gap: 20px;
        text-align: center;
        z-index: 10;
    }

    .menu-checkbox:checked~.nav-links {
        display: flex;
    }

    .menu-checkbox {
        display: none;
        /* navigation bar css for mobile ended*/
    }

    /* about section css */
    .items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        gap: 30px;
    }

    .about-header {
        font-size: 1.5rem;
    }

    .about-description {
        font-size: 0.8rem;
    }

    .about-text {
        font-size: 0.8rem;
    }
    .item h3 {
        font-size: 1.5rem;
    }
    .item p {   
        font-size: 0.6rem;
    }
}