*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header{
    background-color: rgba(65, 37, 103, 1);

}
.logo{
   font-size: 32px;

}
.Text-white{
    color: white;
}
.gradient{
    background: linear-gradient(rgba(247,233,63,1),rgba(251,9,180,1), rgba(145,0,248,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar{
    display: flex;
    padding: 20px 10%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    gap: 32px;
}
nav a{
    color: white;
    
}
.button{
    padding: 10px 16px;
    border-radius: 999px;
    border: none;
    background: linear-gradient(rgba(247,233,63,1),rgba(251,9,180,1), rgba(145,0,248,1));
    color: white;
}
.menu-checkbox, .hamburger{
    display: none;
    color: white;
    font-size: 20px;
    cursor: pointer;

}

@media screen and (max-width: 576px ){
    /* navigation bar css for mobile started*/
    .navbar{
        width: 100%;
    }
    .button{
        display: none;
    }
    .logo{
        order: 1;
    }
    .hamburger{
        display: block;
        order: 2;

    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        order: 3;
        display: none;
        position: absolute;
        top: 60px;
        background-color: rgba(65, 37, 103, 0.95);
        padding: 20px;
        gap: 20px;
        text-align: center;
        z-index: 10;
    }

    .menu-checkbox:checked ~ .nav-links {
        display: flex;
    }
    .menu-checkbox {
        display: none;
        /* navigation bar css for mobile ended*/
    }

      
}